<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style/user/home/vendor.css">
    <link rel="stylesheet" type="text/css" href="/style/user/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/user/landig-header.css">
    <link rel="stylesheet" href="/style/user/cart.css">

</head>
<body>
      <style>
        .remove-btn{
          width: 20px;
          border: none;
        }

        .remove-btn:hover{
          color: red;;
        }
      </style>
   


    <header> <%- include('partial/head') %></header>


    <div class="cart-container">
        <div class="breadcrumb">
          <a href="/home">Home</a> &gt; <a href="/home">Shop</a> &gt; Cart
        </div>
      
        <h1>Shopping cart</h1>
      
        <div class="cart-tabs">
          <button class="active-tab">Cart</button>
          <button>Wish List</button>
        </div>
      
        <div class="cart-items" >
          <% if (cart && cart.items.length > 0) { %>
            <% cart.items.forEach(item => { %>
              <div class="cart-item" id="cart-item-<%= item.productId._id %>">
                <a href="/product-details/<%= item.productId._id %>"><img src="<%= item.productId.images[0] %>" class="cart-item-image"></a>
                <div class="cart-item-details">
                  <p class="item-name"><%= item.productId.productName %></p>
                </div>
                <div class="cart-item-quantity">
                  <% if (item.productId.discountedPrice) { %>
                    <span class="discount-price">₹<%= item.productId.discountedPrice %></span>
                    <span class="original-price">₹<%= item.productId.originalPrice %></span>
                  <% } else { %>
                    <span id="item-price" class="price">₹<%= item.productId.price %></span>
                  <% } %>
                  <input 
                  id="quantity-<%= item.productId._id %>" 
                  type="number" 
                  value="<%= item.quantity %>" 
                  class="quantity-input" 
                  min="1" 
                  max="<%= Math.min(item.productId.quantity, 10) %>" 
                  onkeydown="return false;" 
                  onchange="updateCart('<%= item.productId._id %>', this.value)">
                  <span id="item-total-price-<%= item.productId._id %>" class="item-total-price">₹<%= item.totalPrice %></span>
                </div>  
                <button onclick="removeFromCart('<%= item.productId._id %>',)" class="remove-btn">x</button>
              </div>
            <% }) %>
          <% } else { %>
            <p>Your cart is empty. <a href="/home">Continue shopping</a>.</p>
          <% } %>
        </div>
      
        <% if (cart && cart.items.length > 0 ) { %>
          <div class="cart-summary">
            <h3>Total: ₹<span id="cart-total"><%= cart.cartTotalPrice %></span></h3>
            <a href="/checkout" class="checkout-button">Proceed to Checkout</a>
          </div>
        <% } %>
      
        <a href="/home" class="continue-shopping">Continue shopping</a>
      </div>


      <footer><%- include('partial/footer') %></footer>
      
      
    <script src="/script/user/home.js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="/script/user/home.js/plugins.js"></script>
    <script src="/script/user/home.js/script.js"></script>

   

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      function updateCart(productId, newQuantity) {
        axios.post('/edit-cart', {
          productId: productId,
          quantity: newQuantity
        })
        .then(response => {
          const { updatedTotalPrice, cartTotalPrice } = response.data;
          
 
          document.getElementById('item-total-price-' + productId).innerHTML = '₹' + updatedTotalPrice;
          

          document.getElementById('cart-total').innerHTML = cartTotalPrice;
        })
        .catch(error => {
          console.error('There was an error updating the cart!', error);
        });
      }

      

      function removeFromCart(productId,totalPrice) {
        axios.delete('/cart/remove-item', {
          data: { productId }
        })
        .then(response => {
          console.log(response.data.cart);
          
          if (response.data.success) {
            const itemElement = document.getElementById(`cart-item-${productId}`);
            if (itemElement) {
              itemElement.remove();
            }

            const cartTotalElement = document.getElementById('cart-total');
            if (cartTotalElement) {
                cartTotalElement.innerText = response.data.cart;  

                if(cartTotalElement === 0){
                  // document.querySelector('.cart-summary').style.display = 'none';
                  location.reload()
                }
            }

           
          }
        })
        .catch(error => console.error('Error:', error));
      }
        


      const urlParams = new URLSearchParams(window.location.search);
      const errorMessage = urlParams.get('errorMessage');

      if (errorMessage) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: errorMessage,
          confirmButtonText: 'Go Back'
        }).then(() => {
          window.location.href = '/cart';
        });
      }
    </script>
</body>
</html>