<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style/user/home/vendor.css">
    <link rel="stylesheet" type="text/css" href="/style/user/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style/user/landig-header.css">
    <link rel="stylesheet" href="/style/user/cart.css">
    <link rel="stylesheet" href="/style/user/checkout.css">
</head>

<body>

    <header> <%- include('partial/head') %></header>

    <div class="main-div">
        <div class="iphone">
            <header class="header">
                <h1>Checkout</h1>
            </header>

            <form id="order-form" class="form">
                <div>
                    <h2>Address</h2>
                    <% if (address) { %>
                        <div class="card" id="address-display">
                            <address>
                                <%= address.fullName %><br />
                                <%= address.address %>,<br />
                                <%= address.city %>, <%= address.state %>,<br />
                                <%= address.PINCode %>,<%= address.landmark %>
                            </address>
                        </div>
                        <% } else { %>
                            <p>No address found. Please add an address.</p>
                            <% } %>
                </div>

                <div>
                    <h2>Select Address</h2>
                    <% if (addresses && addresses.length> 0) { %>
                        <select name="address" id="options-dropdown">
                            <% addresses.forEach((address)=> { %>
                                <option id="address" value="<%= address._id %>">
                                    <%= address.fullName %>, <%= address.address %>, <%= address.city %>
                                </option>
                                <% }) %>
                                <option id="costom-address" value="custom">Custom</option>
                        </select>
                        <% } else { %>
                            <select value='' name="address" id="options-dropdown">
                                <option selected>select address</option>
                                <option id="costom-address" value="custom">Custom</option>
                            </select>
                        <% } %>
                </div>
                <!-- modal for add address -->
                <div id="custom-address-form" style="display: none;">
                    
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="fullName" class="form-label">Full name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="fullName" name="fullName" >
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">House / apartment number and street address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="coustome-address" name="address" >
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="email" class="form-label">Email address <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" name="email" >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="mobile" class="form-label">Mobile number</label>
                                <input type="text" class="form-control" id="mobile" name="mobile">
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="city" class="form-label">City <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="postcode" class="form-label">Postcode <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="postcode" name="pincode" >
                            </div>
                        </div>
                
                        <div class="mb-3">
                            <label for="state" class="form-label">State <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="state" name="state" >
                        </div>
                        
                        <div class="mb-3">
                            <label for="landmark" class="form-label">Add Nearby Famous Shop/Mall/Landmark <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="landmark" name="landmark" >
                        </div>
                        <hr>
                    
                </div> <br><br>
                <!-- Product Details Section -->
                <div>
                    <h2>Product Details</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (cart && cart.items.length > 0) { %>
                                <% cart.items.forEach((item, index) => { %>
                                    <tr>
                                        <td>
                                            <img src="<%= item.productId.images[0] %>" class="product-image">
                                            <input type="hidden" name="products[<%= index %>][image]" value="<%= item.productId.images[0] %>">
                                        </td>
                                        <td>
                                            <%= item.productId.productName %>
                                            <input type="hidden" name="products[<%= index %>][productName]" value="<%= item.productId.productName %>">
                                        </td>
                                        <td>
                                            ₹<%= item.price.toFixed(2) %>
                                            <input type="hidden" name="products[<%= index %>][price]" value="<%= item.productId.price.toFixed(2) %>">
                                        </td>
                                        <td>
                                            <%= item.quantity %>
                                            <input type="hidden" name="products[<%= index %>][quantity]" value="<%= item.quantity %>">
                                        </td>
                                        <td>
                                            ₹<%= (item.price * item.quantity).toFixed(2) %>
                                            <input type="hidden" name="products[<%= index %>][productTotalPrice]" value="<%= (item.productId.price * item.quantity).toFixed(2) %>">
                                        </td>
                                        <input type="hidden" name="products[<%= index %>][productId]" value="<%= item.productId._id %>">
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="5">No items in the cart</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                
                <div style="display: <%= couponDiscount ? 'none' : 'flex' %>;" class="subscription-box" id="coupon-pending">
                    <div class="subscription-content">
                        <h2>Get The Latest & Best Coupon Here</h2>
                        <p>Enter your coupon code below to avail discounts or click to see available coupons for exclusive offers.</p>
                        <p><a id="showCoupons"  class="avai-copen" >show available coupons</a></p>
                        <div class="form-container">
                            <input type="code" id="code" placeholder="Enter coupon code" class="email-input" />
                            <button class="subscribe-button" type="button" id="apply-btn">Apply</button>
                        </div>
                        <span style="color: red;" id="coupon-error"></span>
                    </div>
                    <div class="subscription-image">
                        <img width="280px" height="200px" src="/images/coupon-imag.png" alt="Coupon Offer" />
                    </div>
                </div>

                <div style="display: <%= couponDiscount ? 'flex' : 'none' %>;" id="coupen-success" class="subscription-box">
                    <div class="subscription-content">
                        <ul class="coupon-list">
                            <li>
                                <div class="coupon-card">
                                    <div class="coupon-code">
                                        <p style="color: #4caf50;">Coupon Code: code applied successfully! you saved <strong id="coupon-discount"></strong> </span></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button id="remove-coupon" type="button" class="remove-btn">remove</button>
                    </div>
                    <div class="subscription-image">
                        <img width="280px" height="200px" src="/images/coupon-imag.png" alt="Coupon Offer" />
                    </div>
                </div>
                

                <fieldset>
                    <legend>Payment Method</legend>
                    <div class="form__radios">
                        <div class="form__radio">
                            <label for="Razorpay">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                    <path d="M248.6 0h51.1L128.2 512H77.1l91.4-285.6H64L248.6 0zM352 0h96l-58.7 183.2h50.5L256 512h-97l127.1-396.3H224L352 0z" fill="#0D6EFD"/>
                                </svg> 
                                Razorpay</label>
                            <input id="Razorpay" name="paymentMethod" type="radio" value="Razorpay" checked/>
                        </div>
                        <div class="form__radio cod-<%= totalProductPrice > 1000 ? 'none' : 'block' %>" >
                            <label for="cod">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="20" height="20">
                                    <rect x="8" y="16" width="48" height="32" rx="4" fill="#4CAF50" />
                                    <circle cx="20" cy="32" r="6" fill="#FFF" />
                                    <path d="M40 24h12v16H40z" fill="#FFF" />
                                  </svg>
                                  
                                Cash On Delivery</label>
                            <input id="mastercard" name="paymentMethod" type="radio" value="cod"  />
                        </div>
                    </div>
                </fieldset>


                
                

                <div>
                    <h2>Shopping Bill</h2>
                    <table>
                        <tbody>
                            <tr>
                                <td>Shipping fee</td>
                                <td id="shippingFee" align="right">₹<%= shippingFee.toFixed(2) %>
                                </td>
                            </tr>
                            <tr>
                                <% if(couponDiscount) { %>
                                    <td>Discount</td>
                                    <td id="discount" align="right">-₹<%= couponDiscount.toFixed(2) %></td>
                                <% } else { %>
                                    <td>Discount</td>
                                    <td id="discount" align="right">-0 %></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>Price Total</td>
                                <td id="totol-price"  align="right">
                                    ₹<%= totalProductPrice.toFixed(2) %>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                
                                <% if(couponDiscount) { %>
                                    <td>Total</td>
                                    <input type="hidden" name="totalPrice" id="totalPrice" value="<%= totalPrice.toFixed(2) %>">
                                    <td id="total" align="right">₹<%= (totalPrice - couponDiscount ).toFixed(2) %>
                                    </td>
                                <% } else { %>
                                    <td>Total</td>
                                    <input type="hidden" name="totalPrice" id="totalPrice" value="<%= totalPrice.toFixed(2) %>">
                                    <td id="total" align="right">₹<%= totalPrice.toFixed(2) %>
                                    </td>
                                <% } %>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div>
                    <input type="hidden" name="totalPrice" value="<%= totalPrice %>" />
                    <button class="button button--full" type="submit"><svg class="icon">
                            <use xlink:href="#icon-shopping-bag" />
                        </svg>Buy Now</button>
                </div>
            </form>
        </div>
    </div>


    <div id="modalOverlay" class="modal-overlay"></div>
    <div id="couponsModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="closeModal">&times;</span>
            <h3>Best Offers for You</h3>
            <% coupons.forEach(coupon => { %>
            <ul class="coupon-list">
                <li>
                    <div class="coupon-card">
                        <div class="coupon-header">SAVE<%= coupon.value %><%= coupon.type === 'fixed' ? '' : '%' %></div>
                        <div class="coupon-details">Get <%= coupon.type === 'fixed' ? '₹' : '' %><%= coupon.value %><%= coupon.type === 'fixed' ? '' : '%' %> off on orders above ₹<%= coupon.minValue %>.</div>
                        <div class="coupon-code">
                            <p>Coupon Code: <span class="coupon-code-span"><%= coupon.code %></span></p>
                            <button class="copy-btn" onclick="copyCode('<%= coupon.code %>',this)">Copy</button>
                            <span class="copy-message"></span>
                        </div>
                    </div>
                </li>
            </ul>
            <% }) %>
        </div>
    </div>


    
    
    
    <footer><%- include('partial/footer') %></footer>







    <script src="/script/user/home.js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="/script/user/home.js/plugins.js"></script>
    <script src="/script/user/home.js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Razorpay pay script -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/script/user/checkout.js"></script>


    


</body>

</html>