<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>
</head>
<body>

   
  <div class="invoice-container">
    <div class="invoice-header">
      <h1>Invoice</h1>
      <p>Invoice #: <%= invoiceNumber %></p>
    </div>

    <div class="invoice-details">
      <div>
        <p>To:</p>
        <p><%= name %></p>
        <p><%= address %></p>
      </div>
      <div>
        <p>Invoice Date: <%= invoiceDate %></p>
        <p>Due Date: 26/04/2019</p>
      </div>
    </div>

    <table class="invoice-table">
      <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
          <th>Unit Price</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(item => { %>
            <tr>
                <td><%= item.productName %></td>
                <td><%= item.quantity %></td>
                <td>$<%= item.unitPrice.toFixed(2) %></td>
                <td>$<%= (item.quantity * item.unitPrice).toFixed(2) %></td>
            </tr>
        <% }) %>
      </tbody>
    </table>

    <div class="invoice-total">
        <p>Total Quantity: $<%= totatlQuantiy %></p>
        <p>Total: $<%= subTotal.toFixed(2) %></p>
    </div>
  </div>
</body>
</html>