




<aside class="sidebar">
    <div class="profile">
      <div class="profile-pic">
        <span class="initial"><%= user.email.charAt(0).toUpperCase() %></span>
      </div>
      <div class="profile-info">
        <p class="name"><%= user.userName %></p>
        <p class="bonuses"><span class="material-icons"><%= user.email %></span></p>
      </div>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li class="<%= activePage === 'order' ? 'active' : '' %>"><a href="/account-orders"><span class="material-icons"></span> Orders</a></li>
        <li class="<%= activePage === 'Wallet' ? 'active' : '' %>"><a href="/account-wallet"><span class="material-icons"></span> Wallet</a></li>
      </ul>
    </nav>

    <section class="manage-account">
      <h3>Manage account</h3>
      <ul>
        <li class="<%= activePage === 'Personal-info' ? 'active' : '' %>"><a href="/account-personal-info"><span class="material-icons"></span> Personal info</a></li>
        <li class="<%= activePage === 'address' ? 'active' : '' %>"><a href="/account-address"><span class="material-icons"></span> Addresses</a></li>
      </ul>
    </section>

    <section class="customer-service">
      <h3>Customer service</h3>
      <ul>
        <li class="<%= activePage === 'terms' ? 'active' : '' %>"><a href="/terms-and-contion"><span class="material-icons"></span> Terms and conditions</a></li>
      </ul>
    </section>

    <div class="logout logout-a">
      <a type="submit" onclick="logout()" >Log out</a>
    </div>
</aside>
  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  function logout()  {
    Swal.fire({
        title: 'Are you sure?',
        text: "You will be logged out!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, log out',
        cancelButtonText: 'Cancel'
    })
    .then(res => {
      if(res.isConfirmed){
        axios.post('/logout')
        .then(response => {
          location.reload()
        })
      }
    })
  }
</script>